EXPO_PUBLIC_API_BASE_URL=http://localhost:8089
EXPO_PUBLIC_AI_WORKER_BASE_URL=http://localhost:8001
EXPO_PUBLIC_NAVER_CLIENT_ID=DvR6_0MlUmLndqjhbE7n
EXPO_PUBLIC_NAVER_CLIENT_SECRET=change-me
EXPO_PUBLIC_NAVER_URL_SCHEME=com.leejun.recipeapp
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=change-me-google-web-client-id.apps.googleusercontent.com
